<h2><%= l(:label_builds) %></h2>

<%= render partial: 'filters' %>

<% if User.current.allowed_to?(:create_builds, @project) %>
  <%= link_to l(:label_build_new), new_project_build_path(@project), class: 'icon icon-add' %>
<% end %>

<% if @builds.any? %>
  <table class="list builds">
    <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:field_project) %></th>
        <th><%= l(:field_created_on) %></th>
        <th><%= l(:field_updated_on) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @builds.each do |build| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <% if User.current.allowed_to?(:edit_builds, build.project) %>
              <%= link_to build.name, edit_project_build_path(build.project, build) %>
            <% else %>
              <%= build.name %>
            <% end %>
          </td>
          <td>
            <%= link_to_project(build.project) %>
            <% if build.project != @project %>
              <span class="parent-project"></span>
            <% end %>
          </td>
          <td><%= format_time(build.created_at) %></td>
          <td><%= format_time(build.updated_at) %></td>
          <td class="buttons">
            <% if User.current.allowed_to?(:delete_builds, build.project) %>
              <%= link_to l(:button_delete), 
                  project_build_path(build.project, build), 
                  method: :delete, 
                  data: { confirm: l(:text_are_you_sure) }, 
                  class: 'icon icon-del' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <% if @builds_pages && @builds_pages.item_count > 0 %>
    <span class="pagination">
      <%= pagination_links_full @builds_pages, @builds_count %>
    </span>
  <% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>